html,
body {
  height: 90%;
}

#canvas {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

h1 {
  text-align: center;
}
